body {
    background-color: #161F38;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
.heading {
    font-size: 48px;
    color: #FDB44E;
}

.link {
    color: #221C35;
    font-size: x-large;
    text-align: center;
    margin: auto;
    padding: 24px;
}

.description {
    color: darkgoldenrod;
    font-size: large;
}

li {
    font-size: large;
    font-weight: bold;
    margin: auto;
    display: inline-block;
}

.container {
    margin: auto;
    text-align: center;
}

.box {
    display: inline-block;
    margin-top: 48px;
    margin: 24px;
    padding: 48px;
    background-color: aliceblue;
}